@model IEnumerable<Walkies.Common.Models.Dog>
@{
    ViewData["Title"] = "Dogs - DoggoWalkies.org";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
}

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#dog-table").DataTable({
                responsive: true
            });
        });

        function confirmDelete(elem, dogId) {
            if (confirm("Are you sure you want to remove this schedule?")) {
                window.location.href = @Url.Content("~/Shelter/") + "@ViewBag.shelterId" + "/Dog/"+ dogId;
            }
        }
    </script>
}

<br />
<h1 class='page-title'>Dogs</h1>
<table id="dog-table" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Breed</th>
            <th>Available Date</th>
            <th>IsPublic</th>
            <th>Edit & Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var Items in Model)
        {
            <tr>
                <td>@Items.Name</td>
                <td>@Items.Description</td>
                <td>@Items.Breed</td>
                <td>@Items.AvailableDate</td>
                <td>@Items.IsPublic</td>
                <td>
                    <button class="btn btn-info" onclick="window.location.href='@Url.Content("~/")Shelter/@Items.ShelterId/Dog/@Items.DogId/Edit'"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-danger deleteButton" onclick="confirmDelete(this, '@Items.DogId')"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="form-group">
    <div style="display: inline-block">
        <a class="btn btn-primary" href="@Url.Content("~/")Shelter/@ViewBag.shelterId/Dog/Add"><i class="glyphicon glyphicon-plus"></i> Add Another Dog</a>
        <a class="btn btn-danger deleteButton" href="@Url.Content("~/Shelter")"><i class="glyphicon glyphicon-home"></i> Return to Shelters </a>
    </div>
</div>

