@model IEnumerable<Walkies.Common.Models.Shelter>
@{
    ViewData["Title"] = "Shelter - DoggoWalkies.org";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
}

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#shelter-table").DataTable({
                responsive: true
            });
        });

        function confirmDelete(elem, shelterId) {
            if (confirm("Are you sure you want to remove this schedule?")) {
                window.location.href = @Url.Content("~/Shelter/") + "Delete/?shelterId=" + shelterId;
            }
        }
    </script>
}

<br />
<h1 class='page-title'>Shelters</h1>

<table id="shelter-table" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Street 1</th>
            <th>Street 2</th>
            <th>City</th>
            <th>Zip</th>
            <th>State</th>
            <th>Edit & Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var Items in Model)
        {
            <tr>
                <td>@Items.Name</td>
                <td>@Items.Email</td>
                <td>@Items.Phone</td>
                <td>@Items.Fax</td>
                <td>@Items.Street1</td>
                <td>@Items.Street2</td>
                <td>@Items.City</td>
                <td>@Items.Zip</td>
                <td>@Items.StateCode</td>

                <td>
                    <button class="btn btn-info" onclick="window.location.href='@Url.Content("~/")Shelter/Edit?shelterId=' + '@Items.ShelterId'"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-danger deleteButton" onclick="confirmDelete(this, '@Items.ShelterId')"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="form-group">
    <div style="display: inline-block">
        <a class="btn btn-primary" href="@Url.Content("~/")Shelter/Add"><i class="glyphicon glyphicon-plus"></i> Add New Shelter</a>
        <a class="btn btn-danger deleteButton" href="@Url.Content("~/")"><i class="glyphicon glyphicon-home"></i> Return Back </a>
    </div>
</div>

