@{
    ViewData["Title"] = "Search Result";
}
﻿
@model Walkies.Common.Models.DisplayData
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<script src="http://maps.google.com/maps/api/js?key=AIzaSyDOw295U3cQjE-c8n0V0u-CN10-mqnuM24" type="text/javascript"></script>
<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<br />
<br />
<br />
<br />
<br />
<main class=" m-0 p-0">
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-8">
            <!--Google map-->
            <div id="map_canvas" class="z-depth-1 map-container" style="height: 1100px"></div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 mt-4 ">
            <!--Listing Container-->


            <!--Listing Container-->
        </div>
        <!--Grid column-->
    </div>
</main>

@section scripts {
    <section class="scripts">
        <script type="text/javascript">
            $(document).ready(function () {
                Initialize();
            });
            var map;

            //TODO: Shade the area
            //TODO: need to put address into the URL
            var address = "Salt Lake City, Utah"
            $.ajax({
                url: "http://maps.googleapis.com/maps/api/geocode/json?address="+ address + "&sensor=false&key=",
                type: "POST",
                success: function (res) {
                    console.log(res.results[0].geometry.location.lat);
                    console.log(res.results[0].geometry.location.lng);
                }
            });

            function Initialize() {
                google.maps.visualRefresh = true;
                var SaltLakeCity = new google.maps.LatLng(40.758701, -111.876183);
                var mapOptions = {
                    zoom: 13,
                    center: SaltLakeCity,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP,
                    gestureHandling: 'greedy'
                };

                map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                ProcessData();
            }

            function ProcessData() {
                @foreach (var item in Model.Shelters)
                {
                    <text>
                    createMarker('@item.Latitude', '@item.Longitude', '@item.Name', '@item.Street1', '@item.City', '@item.StateCode', '@item.Zip');
                    </text>
                }
            }

            function createMarker(lat, lon, name, street, city, statecode, zip) {
                marker = new google.maps.Marker({
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                    position: new google.maps.LatLng(lat, lon, false),
                    title: name,
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                });
                createInfoWindow(marker, name, street, city, statecode, zip);
            }

            function createInfoWindow(m, name, street, city, statecode, zip) {
                var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv'>" +
                            "<h2>" + name + "</h2>" +
                            "<div><h4>" + street + "</h4></div>" +
                            "<div><h4>" + city + ",</h4></div>" +
                        "<div><h4>" + statecode + " " + zip +"</h4></div>" +
                        "</div>"
                });

                google.maps.event.addListener(m, 'mouseover', function () {
                    infowindow.open(map, m);
                });

                google.maps.event.addListener(marker, 'mouseout', function () {
                    infowindow.close(map, m);
                });
            }
        </script>
    </section>
}
