@model IEnumerable<Walkies.Common.Models.AccountUser>
@{
    ViewData["Title"] = "Account Management - DoggoWalkies.org";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
}

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#account-table").DataTable({
                responsive: true
            });
        });

        function confirmDelete(elem, accountId) {
            if (confirm("Are you sure you want to remove this account?")) {
                window.location.href = "@Url.Content("~/Login/?id=")" + accountId;
            }
        }
    </script>
}

<br />
<h1 class='page-title'>Accounts</h1>
<table id="account-table" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Can Login</th>
            <th>IsLockedDateTime</th>
            <th>Login Email</th>
            <th>Recovery Phone</th>
            <th>Reset Token</th>
            <th>Reset Token Expiration</th>
            <th>User Type Code</th>
            <th>Edit & Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var Items in Model)
        {
            <tr>
                <td>@Items.FirstName</td>
                <td>@Items.LastName</td>
                <td>@Items.CanLogin</td>
                <td>@Items.IsLockedDateTime</td>
                <td>@Items.LoginEmail</td>
                <td>@Items.RecoveryPhone</td>
                <td>@Items.ResetToken</td>
                <td>@Items.ResetTokenExpiration</td>
                <td>@Items.UserTypeCode</td>
                <td>
                    <button class="btn btn-info" onclick="window.location.href='@Url.Content("~/")Login/Edit/?accountId=@Items.AccountUserId'"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-danger deleteButton" onclick="confirmDelete(this, '@Items.AccountUserId')"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="form-group">
    <div style="display: inline-block">
        <a class="btn btn-primary" href="@Url.Content("~/")Login/Create/?accountId=@ViewBag.accountId"><i class="glyphicon glyphicon-plus"></i> Add Another Account</a>
        <a class="btn btn-danger deleteButton" href="@Url.Content("~/")"><i class="glyphicon glyphicon-home"></i> Return to Home Page </a>
    </div>
</div>

